{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="row">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Bienvenue</h5>
            <p class="card-text">Bienvenue dans notre application de réservation de créneau horaire ! Nous sommes là pour vous aider à planifier votre temps de manière efficace et pratique. Avec notre interface intuitive, réserver votre prochain rendez-vous n'a jamais été aussi simple. Que ce soit pour un rendez-vous chez le médecin, un cours de sport ou tout autre engagement, notre application est la solution idéale pour vous organiser en un rien de temps.</p>
        </div>
    </div>
</div>

{% endblock %}
