{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vous souhaitez devenir prestataire</h5>
                    <p class="card-text">Ce formulaire vous permet de vous déclarer en tant que prestataire</p>
                </div>
            </div>
            {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}
